@import "~@fluentui/react/dist/sass/References.scss";
.title {
  font-weight: 600;
  font-size: 25px;
}
.rowContent {
  margin-top: 15px;
}
.contractItem {
  margin-left: 20px;
}
.sectionTwo {
  margin-top: 15px;
  margin-bottom: 30px;
}
.fixedWidth {
  width: 100%;
}
.marginTop {
  margin-top: 20px;
}
.fontBold {
  font-weight: 600;
}
.listWrapper {
  width: 80%;
  overflow: inherit;
  background-color: rgb(238, 238, 238);
  align-items: center;
}
.flexWrapper {
  align-items: flex-start;
  display: flex;
  min-width: 100vw;
}
.iconPlus {
  font-size: 20px;
  font-weight: bolder;
}
.iconDelete {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 20px;
}
.inputStyle {
  margin-top: 2px;
  margin-bottom: 2px;
}
.inputStyle:disabled {
  border: 0px;
  color: black;
  background-color: transparent;
}
.alertStyle {
  height: 100px;
}
.inputAlert {
  margin-top: 2px;
  height: 14px;
  font-size: small;
  color: red;
}
