@import "~@fluentui/react/dist/sass/References.scss";
.rowContent {
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 20px;
}
.fixedWidth {
  width: 100%;
}
.title {
  font-weight: 600;
  font-size: large;
  margin-bottom: 20px;
}
.marginTop {
  margin-top: 20px;
}
.fontBold {
  font-weight: 600;
}
.listWrapper {
  /* Firefox */
  min-height: -moz-calc(100vh - 324px);
  /* WebKit */
  min-height: -webkit-calc(100vh - 324px);
  /* Opera */
  min-height: -o-calc(100vh - 324px);
  /* Standard */
  min-height: calc(100vh - 324px);
  min-width: 50vw;
  width: fit-content;
  overflow: inherit;
}
.flexWrapper {
  align-items: flex-start;
  display: flex;
  min-width: 100vw;
}
.iconPlus {
  font-size: 20px;
  font-weight: bolder;
}
.iconDelete {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 20px;
}
.inputStyle {
  margin-top: 2px;
  margin-bottom: 2px;
}
.inputStyle:disabled {
  border: 0px;
  color: black;
  background-color: transparent;
}
