

/*SharePoint workbench full width webpart*/
#workbenchPageContent {
    /* min-width: 100vw !important; */
    display: flex !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

#workbenchCommandBar {
    display: none !important;
  }
  
  #SuiteNavWrapper {
    display: none !important;
  }
  #spCommandBar {
    display: none !important;
  }
  #spSiteHeader {
    display: none !important;
  }