@import '~office-ui-fabric-react/dist/sass/References.scss';

.homePage {
  // overflow: hidden;
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.header {
  height: 90px;
  width: 100%;
  background: #000;
}

.main {
  //height: calc(75vh - 90px);
  height: calc(85vh - 20px);
  background-image: url(../assets/Background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.firstMask {
  width: 52%;
  margin-left: 9%;
  position: absolute;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 58.71%, rgba(0, 0, 0, 0.00) 100%);
}
.secondMask {
  width: 47%;
  height: 100%;
  position: absolute;
  background: rgba(142, 142, 142, 0.43);
}

.content {
  margin-left: 9%;
  height: 100%;
  //padding-top: 66px;
  padding-top: 44px;
  padding-left: 20px;
}

.title {
  color: white;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  // margin-bottom: 48px;
  margin-bottom: 24px;
  margin-left:25px;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
.section {
  margin-bottom: 44px;
}
.homePageButton{
  background-color:white;
  color: Black;
  margin-bottom: 8px;
  display: block;
  width: 25vw;
  height: 80px;
  font-size: 14px;
  border-radius: 4px;
  border-color: rgb(214, 214, 214);
  margin-right: 17px;
  box-shadow: rgba(189, 190, 190, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 2px 3px 2px;
  svg {
    width: 24px;
    height: 24px;
  }
}
.parttitle{
  font-Weight: bold;
  margin-bottom:10px;
  font-size: 16px;
}