@import "~office-ui-fabric-react/dist/sass/References.scss";

.listWrapper {
  /* Firefox */
  min-height: -moz-calc(100vh - 324px);
  /* WebKit */
  min-height: -webkit-calc(100vh - 324px);
  /* Opera */
  min-height: -o-calc(100vh - 324px);
  /* Standard */
  min-height: calc(100vh - 324px);
  min-width: 50vw;
  width: fit-content;
  overflow: inherit;
}
.tableWrapper {
  /* Firefox */
  min-height: -moz-calc(100vh - 324px);
  /* WebKit */
  min-height: -webkit-calc(100vh - 324px);
  /* Opera */
  min-height: -o-calc(100vh - 324px);
  /* Standard */
  min-height: calc(100vh - 324px);
  margin-right: 10px;
  width: fit-content;
  overflow: inherit;
}
.list {
  overflow: inherit;
}
