@import "~office-ui-fabric-react/dist/sass/References.scss";

.listWrapper {
  width: 100%;
  overflow: inherit;
  background-color: rgb(238, 238, 238);
  align-items: center;
}
.tableWrapper {
  /* Firefox */
  min-height: -moz-calc(100vh - 324px);
  /* WebKit */
  min-height: -webkit-calc(100vh - 324px);
  /* Opera */
  min-height: -o-calc(100vh - 324px);
  /* Standard */
  min-height: calc(100vh - 324px);
  margin-right: 10px;
  width: fit-content;
  overflow: inherit;
}
.list {
  overflow: inherit;
}
.alertStyle {
  height: 100px;
}
.title {
  font-weight: 600;
  font-size: 25px;
}
.rowContent {
  margin-top: 15px;
}
.sectionTwo {
  margin-top: 15px;
  margin-bottom: 30px;
}
.buttonWrapper {
  width: 80%;
}
.fullLength {
  width: 100%;
}
.iconwrapper {
  width: 80%;
  align-self: center;
  height: auto;
}
